<!-- navbar.html -->
<nav class="navbar navbar-expand-lg ftco-navbar-light">
    <div class="container-xl">
        <a href="#" class="btn-custom order-lg-last">Separa tu cita</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="fa fa-bars"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active ps-lg-0" href="index.html">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="dentist.html">Dentistas</a></li>
                <li class="nav-item"><a class="nav-link" href="about.html">Nosotros</a></li>
                <li class="nav-item"><a class="nav-link" href="services.html">Servicios</a></li>
                <li class="nav-item"><a class="nav-link" href="pricing.html">Precios</a></li>
                <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
                <li class="nav-item"><a class="nav-link" href="contact.html">Contacto</a></li>
            </ul>
        </div>
    </div>
</nav>